include mixins

html
  head
    title Characters from Movies
    link(rel="stylesheet" type="text/css" href="/css/style.css")
  body
    .container
      block content
      footer
        p Made with ❤️ by the Node.js Course of Hamburg Coding School fame
