extends layout

block content
  h1 Characters from Movies
  table
    tr
      th Name
      th Race
      th Actor
    each character in characters
      tr
        td #{character.name} 
        td #{character.race}
        td #{character.actor}