<html>
  <head>
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head> 
  <body>
    <h1>Calculator EJS</h1>
    <form action="/calculate">
      <input type="number" name="number1" />
      <input type="number" name="number2" />  
      <button type="submit">Calculate</button>
    </form>
  </body>
</html>