@import 'colors';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $backgroundColor;
  color: $textColor;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}